
.project-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 43px;
    width: 90vw;
    margin: 20px auto;
    background-color: #fff;
   position: relative;
}
.cancel-edit{
position: absolute;
right: 0;
top: 0;
background: transparent;
margin: 3px;
border: 1px solid lightgrey;
border-radius: 5px;
}

.project-header {
    display: flex;
    
    justify-content: flex-start;
    gap: 7rem;
    margin-bottom: 20px;
}
.statusdiv{
    text-align: left;
    font-weight: bold;
}
.status {
    padding: 5px 10px;
    border-radius: 5px;
}

.status.open {
    background-color: #f8d7da;
    color: #721c24;
}

.due-date {
    color: #666;
}

.project-body {
    display: flex;
    flex-direction: column;
}

.project-title,
.project-overview
{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25rem;
}

.project-overview {
    height: 100px;
    resize: none;
}
.start{
    width: 22rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.start-date{
    text-align: left;
}
.add-btn{
    background-color: #7F7FE9;
    border: none;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 9px;
    margin-top: 40px;
    position: absolute;
    left: 40px;
    bottom: 0px;
}
.dropdown{
    border: none;
    background-color: #f8d7da;
    color: #721c24;
    font-weight: 600;
}

.duedate{
    height: 40px;
    border:transparent;
    color: red;
}

@media screen and (max-width:426px) and (min-width:320px){
    .project-container{
        width: 200px;
    }
    .project-header{
        flex-direction: column;
        gap:0.5rem
    }
    .due-date{
        text-align: left;
    }
    .start{
        width: 12.5rem;
        
    }
    .project-overview,.project-title{
        width: 12.5rem;
    }
  
}

@media screen and (max-width:769px){
    .project-container{
        width: 80vw;
    }
}